:root {
  --main-color: #2e2f42;
  --sekond-color: #4d5ae5;
  --background-color: #2e2f42;
  --text-color: #434455;
  --font-weight: 500;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =================HEDER================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.logo-first-color {
  color: var(--sekond-color);
}

.header-link {
  font-weight: var(--font-weight);
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.breadcrumbs:hover,
.breadcrumbs:active {
  color: var(--sekond-color);
}

.contacts {
  color: var(--text-color);
}

.contacts-item {
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.subtitle {
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.titel-medium {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}

.title-small {
  font-weight: var(--font-weight);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

/* =================HERO================== */

.section-hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* =================BUTTON================== */
.main-button-link {
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  background-color: var(--sekond-color);
  color: #ffffff;
}

.main-button-link:hover,
.main-button-linc:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.button-link {
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  color: var(--sekond-color);
}

.button-link:hover,
.button-link:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* =================ABOUT================== */

/* =================GALLERY-ABOUT================== */

/* =================EMPLOYEES================== */

.section-employees {
  background: #f4f4fd;
}

/* =================FOOTER================== */

.footer-logo {
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;
}

.footer-logo-first-color {
  font-size: 18px;
  line-height: 1.17;
}

.footer {
  background-color: var(--background-color);
}
.footer-subtitle {
  color: #e7e9fc;
}
